<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Addedbytes_Massredirect>
            <version>0.1.0</version>
        </Addedbytes_Massredirect>
    </modules>
    <global>
        <models>
            <massredirect>
                <class>Massredirect_Model</class>
            </massredirect>
        </models>
        <resources>
            <massredirect_setup>
                <setup>
                    <module>Addedbytes_Massredirect</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </massredirect_setup>
            <massredirect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </massredirect_write>
            <massredirect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </massredirect_read>
        </resources>
        <helpers>
            <addedbytesmassredirect>
                <class>Addedbytes_Massredirect_Helper</class>
            </addedbytesmassredirect>
        </helpers>
        <models>
            <massredirect>
                <class>Addedbytes_Massredirect_Model</class>
                <resourceModel>massredirect_mysql4</resourceModel>
            </massredirect>
            <massredirect_adminhtml>
                  <class>Addedbytes_Massredirect_Adminhtml_Model</class>
            </massredirect_adminhtml>
            <massredirect_import>
                <class>Addedbytes_Massredirect_Model</class>
                <resourceModel>massredirect_mysql4</resourceModel>
            </massredirect_import>
            <massredirect_mysql4>
                <class>Addedbytes_Massredirect_Model_Mysql4</class>
                <entities>
                    <massredirect>
                        <table>massredirect</table>
                    </massredirect>
                </entities>
            </massredirect_mysql4>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <addedbytes_massredirect_model_redirector>
                        <type>singleton</type>
                        <class>addedbytes_massredirect_model_redirector</class>
                        <method>observe</method>
                    </addedbytes_massredirect_model_redirector>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <massredirect translate="title" module="addedbytesmassredirect">
                                            <title>Added Bytes Mass Redirect</title>
                                            <sort_order>0</sort_order>
                                        </massredirect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <massredirect>
            <massredirect_options>
                <massredirect_active>0</massredirect_active>
            </massredirect_options>
        </massredirect>
    </default>
</config>
