<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Mageplace_Hideprice
 */
-->
<config>
	<sections>
		<hide_price translate="label">
			<label>Hide Price</label>
			<tab>amasty</tab>
			<sort_order>910</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<options translate="label">
					<label>Options</label>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<choose_stores>
							<label>Select In Which Store Hide Price Is Disabled</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>mageplace_hideprice/option_choosestore</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</choose_stores>
						<customer_group_enable>
							<label>Display By Customer Group</label>
							<frontend_type>select</frontend_type>
							<source_model>mageplace_hideprice/option_activate</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</customer_group_enable>
						<choose_customer_groups>
							<label>Select Which Customer Group Can View Pricing</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>mageplace_hideprice/option_choose</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<customer_group_enable>1</customer_group_enable>
							</depends>
						</choose_customer_groups>
						<category_enable>
							<label>Enable Category Hide Price Options</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</category_enable>
						<product_enable>
							<label>Enable Product Hide Price Options</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_enable>
						<text_message translate="label">
							<label>Text to Display</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</text_message>
						<text_message_group translate="label">
							<label>Text to Display to Non-Permitted Groups</label>
							<frontend_type>text</frontend_type>
							<sort_order>31</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</text_message_group>
						<text_message_category>
							<label>Text to Display to Non-Permitted Categories</label>
							<frontend_type>text</frontend_type>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</text_message_category>
						<text_message_product>
							<label>Text to Display to Non-Permitted Products</label>
							<frontend_type>text</frontend_type>
							<sort_order>33</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</text_message_product>
						<customer_login_href>
							<label>Customer Login Link Url</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>34</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</customer_login_href>
						<href>
							<label>Link Url</label>
							<frontend_type>text</frontend_type>
							<sort_order>35</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<customer_login_href>0</customer_login_href>
							</depends>
						</href>
					</fields>
				</options>
				<blocks>
					<label>Block detection</label>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<types>
							<label>Hide price block types</label>
							<comment>Semicolon separated block types</comment>
							<frontend_type>textarea</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</types>
					</fields>
				</blocks>
				<filters>
					<label>Filters</label>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<price>
							<label>Hide Price</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</price>
						<add_to_cart>
							<label>Hide Add To Cart</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_cart>
						<qty>
							<label>Hide Qty</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</qty>
						<add_to_compare>
							<label>Hide Add To Compare</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_compare>
						<add_to_wishlist>
							<label>Hide Add To Wishlist</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_wishlist>
					</fields>
				</filters>
				<selectors>
					<label>Prototype-like css selectors (advanced options for custom templates)</label>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<price>
							<label>Product Listing Price</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</price>
						<product_page_price>
							<label>Product Page Price</label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_page_price>
						<!--my_wishlist_price>
							<label>"My Wishlist" Block Price</label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</my_wishlist_price-->
						<bundle_price>
							<label>Bundle Price</label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</bundle_price>
						<product_link>
							<label>Product link</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_link>
						<add_to_cart>
							<label>"Add To Cart" Button</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_cart>
						<add_to_cart_link>
							<label>"Add To Cart" Link</label>
							<frontend_type>text</frontend_type>
							<sort_order>31</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_cart_link>
						<qty_label>
							<label>Qty Label</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</qty_label>
						<qty>
							<label>Qty</label>
							<frontend_type>text</frontend_type>
							<sort_order>41</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</qty>
						<qty_bundle>
							<label>Qty Bundle</label>
							<frontend_type>text</frontend_type>
							<sort_order>42</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</qty_bundle>
						<add_to_compare>
							<label>"Add To Compare" Button</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_compare>
						<add_to_wishlist>
							<label>"Add To Wishlist" Button</label>
							<frontend_type>text</frontend_type>
							<sort_order>51</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</add_to_wishlist>

                        <product_list_cell>
                            <label>Product List. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_list_cell>
                        <new_product_list_cell>
                            <label>New Products List. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>105</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_product_list_cell>
                        <compare_product_cell>
                            <label>Compare Products. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </compare_product_cell>
                        <wishlist_product_cell>
                            <label>Wishlist Products. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wishlist_product_cell>
                        <my_wishlist_product_cell>
                            <label>My Wishlist Sidebar Products. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </my_wishlist_product_cell>
                        <related_product_cell>
                            <label>Related Product List. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </related_product_cell>
                        <upsell_product_cell>
                            <label>Upsell Product List. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </upsell_product_cell>
                        <reports_product_viewed>
                            <label>Reports - Product Viewed. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                        </reports_product_viewed>
                        <reports_product_compared>
                            <label>Reports - Product Compared. Product Cell</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                        </reports_product_compared>
                    </fields>
				</selectors>
			</groups>
		</hide_price>
	</sections>

</config>